h1{
    text-align:center;
    color: hsl(236, 48%, 43%);   
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(250, 100, 97);
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(187, 187, 187);   
}
button:hover{
    text: 1.1em;
    font-weight: bold;
    background-color: black;
    color:aliceblue;

}